* {
    /* `otf-font-awesome` is required to be installed for icons */
    padding: 0;
    margin: 0;
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 11pt;
    border: none;
    border-radius: 0px;
    color: #ebdbb2;
}

window {
    background: transparent;
}

window > box {
    padding: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #212121;
    padding-right: 10px;
}

#workspaces button:hover {
	background: none;
    box-shadow: none;
    text-shadow: none;
}

#workspaces button label {
    padding-top: 4px;
}

#workspaces button {
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 25px;
    margin-right: 5px;
}

#workspaces button:not(.empty) {
    background-color: #504945;
}

#workspaces button.active {
    background-color: #fb4934;
}

#wireplumber {
    color: #83a598;
}

#backlight {
    color: #fabd2f;
}

#battery {
    color: #b8bb26;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    background: #fb4934;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#clock {
    color: #8ec07c;
}

#clock.date {
    color: #d3869b;
}
